.home {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
}

.allFood {
  position: absolute;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0px);
}

.logo01 {
  position: absolute;
  width: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
