.home {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
}

.allFood {
  position: absolute;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0px);
  position: fixed;
  transform-origin: 0% 0%;
  rotate: 0deg;
}

.logo01 {
  position: absolute;
  width: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.openCreateFlex {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  right: 0;
  transform: translate(-50%, 0);
  cursor: pointer;
  background-color: var(--yellow);
  border: solid 0.15vw var(--black);
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1vw;
}

.openCreate {
  font-size: 1.5vw;
  font-weight: 900;
  font-family: var(--title);
  text-align: center;
}

.cityFilter {
  position: absolute;
  width: auto;
  height: auto;
  top: 19vw;
  right: 4.7vw;
  transform: translate(0, 0);
  cursor: pointer;
  background-color: var(--yellow);
  border: solid 0.15vw var(--black);
  border-radius: 2vw;
  position: fixed;
  padding: 1vw;
  font-family: var(--title);
  font-weight: 900;
  font-size: 1.4vw;
}
