.cardCreateContainer {
  width: 70vw;
  height: 98vh;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2vw;
  padding: 0vw;
  border: solid 0.15vw var(--black);
  position: fixed;
}

.cardCreate {
  position: fixed;
  width: 25vw;
  height: auto;
  border: solid 0.15vw var(--black);
  background-color: rgb(242, 237, 230, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  border-radius: 2vw;
  font-size: 1vw;
}

.pictoRestoCreate {
  width: 8vw;
  height: auto;
}

.pictoFlex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nameCreate {
  color: var(--red);
  text-align: center;
  margin-top: 1vw;
  height: auto;
  text-align: center;
  color: var(--red);
  font-size: 1.4vw;
}
.cardCreate h1,
h2,
h3 {
  font-family: var(--title);
  font-weight: 900;
  padding: 0;
  margin: 0;
  margin-top: 0vw;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.cardCreate p {
  font-size: 1.3vw;
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.cardTextCreate {
  font-family: var(--text);
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noteCreate {
  font-size: 1vw;
  color: var(--red);
  text-align: end;
  margin-top: 0.5vw;
  height: auto;
}

.noteCreate input {
  width: 3vw;
  text-align: center;
}

.detailsBlocksCreate {
  border: solid 0.1vw var(--black);
  border-radius: 1vw;
  padding: 0.5vw;
  margin-top: 0.5vw;
}

.detailsBlocksCreate h3 {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.inputAddress {
  width: 20vw;
}

.inputCity {
  width: 20vw;
}

.inputAddress {
  width: 20vw;
}

.resumeCreate {
  height: 10vw;
}

.resumeCreate textarea {
  height: 6.5vw;
  width: 20vw;
}

.cardCreate input,
select,
textarea {
  border: solid 0.07vw var(--black);
  border-radius: 1vw;
  padding: 0.6vw;
  margin: 0.3vw;
  font-family: var(--text);
  font-size: 0.9vw;
}

.cardCreate select {
  width: 12vw;
}

.cardCreate button {
  width: auto;
  height: auto;
  border: solid 0.07vw var(--black);
  border-radius: 1vw;
  padding: 0.5vw;
  font-size: 1vw;
  font-family: var(--title);
  font-weight: 900;
  cursor: pointer;
}

.closeCrossCreateFlex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.3vw;
}

.closeCrossCreate {
  cursor: pointer;
  width: 1.3vw;
  height: 1.3vw;
  font-size: 1vw;
  font-family: var(--text);
  font-weight: 600;
  border: solid 0.07vw var(--black);
  display: flex;
  color: var(--black);
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
}

@media screen and (max-width: 800px) {
  .cardCreateContainer {
    width: 90vw;
    height: 100vh;
    padding: 0vw;
    position: fixed;
  }

  .cardCreate {
    position: fixed;
    width: 80vw;
    height: auto;
    background-color: rgb(242, 237, 230, 0.8);
    padding: 1vw;
    border-radius: 3vw;
    font-size: 5vw;
  }

  .pictoRestoCreate {
    width: 25vw;
    height: auto;
  }

  .nameCreate {
    margin-top: 2vw;
    height: auto;
    font-size: 5vw;
  }
  .cardCreate h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
    margin-top: 0vw;
    font-size: 4.5vw;
  }

  .cardCreate p {
    font-size: 4vw;
  }

  .cardTextCreate {
    font-family: var(--text);
    width: 73vw;
    height: auto;
  }

  .noteCreate {
    font-size: 5.5vw;
    margin-top: 0.5vw;
    height: auto;
  }

  .noteCreate input {
    width: 13vw;
    height: 5.5vw;
  }

  .detailsBlocksCreate {
    border-radius: 2vw;
    padding: 0.5vw;
    margin-top: 2vw;
  }

  .detailsBlocksCreate input {
    width: 95%;
  }

  .inputAddress {
    width: 50vw;
    height: auto;
  }

  .inputCity {
    width: 50vw;
  }

  .resumeCreate {
    height: 60vw;
  }

  .resumeCreate textarea {
    height: 50vw;
    width: 70vw;
    font-size: 4vw;
  }

  .cardCreate input,
  textarea {
    border-radius: 3vw;
    padding: 2vw;
    margin: 1vw;
    font-size: 4vw;
  }

  .cardCreate select {
    width: 90%;
    font-size: 4vw;
    margin-left: 2vw;
  }

  .cardCreate button {
    width: auto;
    height: auto;
    border-radius: 3vw;
    padding: 2vw;
    font-size: 4.5vw;
    margin-bottom: 2vw;
  }
  .closeCrossCreateFlex {
    width: 100%;
    gap: 0.3vw;
  }

  .closeCrossCreate {
    width: 5vw;
    height: auto;
    font-size: 3vw;
    margin-top: 2vw;
    margin-right: 2vw;
  }
}
